#tasksPage,
#projectsPage {
  padding-top: 1em;
  padding-bottom: 1em;
}

.jumbotron {
  padding-top: 1em;
  padding-bottom: 1em;
}

.card {
  margin-top: 1em;
}

#taskForm,
#projectForm {
  padding-top: 1em;
}
